# node_modules
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
venv/
env/
.venv/

# Next.js
.next/
out/
build/
.swc/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store
